@model IEnumerable<TrainingCentersCRM.Models.Qualification>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div id="qualificationTree" style="width: 400px; overflow-x: scroll; white-space: nowrap; float: left"></div>
<div id="qualificationBlock" style="float: left">
    <div id="qualificationButtons" style="display: none">
        <div style="display: inline">
            <button id="editQualification" class="waves-effect waves-light orange btn" title="Изменить">Изменить</button>
        </div>
        <div style="display: inline">
            <button id="deleteQualification" class="waves-effect waves-light red btn" title="Удалить">Удалить</button>
        </div>
        <div style="display: inline">
            <button id="createQualification" class="waves-effect waves-light btn" title="Создать">Создать</button>
        </div>
    </div>
    <div id="qualificationData"></div>
</div>
<div style="clear: both;"></div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/QualificationPageSelect.js"></script>
    <script src="~/Scripts/createTree.js"></script>
    <script src="@Url.Content("~/Scripts/HeadHunterSelects.js")" type="text/javascript"></script>
}