@font-face {
    font-family: 'fira_sanslight';
    src: url('../fonts/firasans-light.eot');
    src: url('../fonts/firasans-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/firasans-light.woff') format('woff'),
         url('../fonts/firasans-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fira_sanslight_italic';
    src: url('../fonts/firasans-lightitalic.eot');
    src: url('../fonts/firasans-lightitalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/firasans-lightitalic.woff') format('woff'),
         url('../fonts/firasans-lightitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fira_sansregular';
    src: url('../fonts/firasans-regular.eot');
    src: url('../fonts/firasans-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/firasans-regular.woff') format('woff'),
         url('../fonts/firasans-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'fira_sansbold';
    src: url('../fonts/firasans-bold.eot');
    src: url('../fonts/firasans-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/firasans-bold.woff') format('woff'),
         url('../fonts/firasans-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'fira_sansregular',sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'fira_sansbold';
}
.orbit-content {
    max-height: 620px;
}
.slider-info {
    position: absolute;
    width: 70%;
    height: 130%;
    border-radius: 50%;
    right: -25%;
    top: -20%;
    background-color: rgba(254, 221, 40,0.9);
    padding: 23% 56px 56px 56px;
}
    .slider-info .slider-text {
        width: 500px;
    }
        .slider-info .slider-text h3 {
            font-size: 40px;
            font-family: 'fira_sansbold';
            margin-bottom: 50px;
        }
        .slider-info .slider-text h5 {
            color: #fff;
            background-color: #232c3b;
            font-size: 18px;
            font-family: 'fira_sanslight';
            padding: 0px 12px;
            margin: 2px;
            display: inline-block;
        }
.orbit-container .orbit-prev, .orbit-container .orbit-next {
    background-color: rgba(0, 0, 0, 0.3);
}
.orbit-container .orbit-prev:hover, .orbit-container .orbit-next:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
.landing-plus {
    width: 70%;
    margin: 0px auto;
    position: relative;
    top: -20px;
    color: #232c3b;
}
    .landing-plus .plus-item {
        font-family:'fira_sansbold';
        overflow:visible;
        text-align:center;
        padding:10px 25px 0px 25px;
        width: 30%;
        margin-right: 5%;
        background-color: #ff6c3a;
        height: 130px;
        float:left;
        position:relative;
        top: 0px;
        -webkit-transition: top 0.3s linear;
        -moz-transition: top 0.3s linear;
        -o-transition: top 0.3s linear;
        transition: top 0.3s linear;
    }
        .landing-plus .plus-item:hover {
            color: #fff;
            top: -20px;
        }
        .landing-plus .plus-item:before {
            content:'';
            display:block;
            width:85px;
            height:60px;
            margin: 0px auto;
            background:url('../img/icon-plus.svg') no-repeat;
            background-size: cover;
        }
        .landing-plus .plus-item.book:before {
            background-position: 10px 0px;
        }
        .landing-plus .plus-item.people:before {
            background-position: -190px 0px;
        }
                .landing-plus .plus-item.modern:before {
            background-position: -85px 0px;
        }
        .landing-plus .plus-item:last-child {
            margin-right:0px;
        }
.about-us {
    background-color: #fbfbfb;
    border: 1px solid #e2e2e2;
    border-left: 0px;
    margin-top: 50px;
    padding: 20px 20px 20px 8.8%;
    width: 60.5%;
    float: left;
}
.landing-feature {
    margin-top: 50px;
    float:right;
    width: 30%;
    margin-right: 8.8%;
}
    .landing-feature .feature-item {
        border-right: 6px solid #4f658c;
        background-color: #232c3b;
        width: 80%;
        min-height: 70px;
        margin: 28px 0px 0px 20%;
        color: #fff;
        font: 400 18px 'fira_sansregular';
        vertical-align: top;
    }
        .landing-feature .feature-item:hover {
            color: #ff6c3a;
        }
        .landing-feature .feature-item .number {
            display: inline-block;
            font: 400 42px/48px 'fira_sansregular';
            margin: 15px 15px 0px 30px;
        }
        .landing-feature .feature-item .content {
            position: relative;
            top: -8px;
        }
.news {
    margin: 50px 8.8%;
}
    .news .news-block {
        text-align: center;
        padding: 0 1.625rem 1.25rem;
    }
        .news .news-block img {
            margin-bottom: 20px;
        }
        .news .news-block .date {
            background-color: #ffe32a;
            padding: 4px;
            font-size: 12px;
            position: relative;
            top: 32px;
            right: -93px;

        }
html, body {
  height: 100%;
}
.wrap-body {
    min-height: 100%;
    padding-bottom: 230px;
}
.wrap-body:after {
  content: "";
  display: block;
  height: 1px;
}
.button {
    background-color: #fff;
    color: #232c3b;
    border-radius: 5px;
    border: 1px solid #232c3b;
    padding: 0.5rem 1rem;
}
    .button:hover {
            background-color: #232c3b;
            color: #ff6c3a;
    }