.MoodleCourse {
    padding-left: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dropdown-content {
    height: auto !important;
    z-index: 1000;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.form-horizontal {
    margin-left: 20px;
}

.detailsImage {
    max-width: 250px;
}


.news-block p {
    font-size: 0.9em;
    text-align: justify;
}

.course-info p, .content {
    text-align: justify;
}

.main-image {
    max-width: 100%;
    height: auto;
}

.details {
    margin: 20px;
}

    .details label {
        display: inline;
    }

.overlay-container {
  float: left;
  margin-right: 1.5rem;
}

footer div.info {
    display: table-cell;
    vertical-align: middle;
    height: 200px;
    color: white;
    padding-left: 100px;
}

    footer div.info img {
        margin-top: 1.5em;
        display: table-cell;
        vertical-align: middle;
    }

footer label {
    color: white;
    display: inline;
}

.panel label {
    padding-top: 10px;
    display: inline;
}
.LBD_CaptchaIconsDiv {
    display: inline;
}

.ya-search {
    position: absolute;
    top: 80px;
    display: none;
    right: 0px;
    width: 400px;
    height: 20px;
}

#SearchButton {
    cursor:pointer;
    display: inline;
}

table.b-head {
    border: none;
}

table.ya-site-form__search {
    margin-bottom:0px;
}

.ya-site-form__input-text {
    height: 20px;
}