@model TrainingCentersCRM.Models.TrainingModule

@{
    ViewBag.Title = "Удаление модуля";
}

<div class="row">
<h2>Удаление модуля</h2>

<h3>Вы действительно хотите удалить учебный модуль "@Html.DisplayFor(model => model.Title)"?</h3>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
        </div>
    }
</div>